.inverse {
  background-image: url('resources/media/air_background.jpg');
  background-size: cover;
  background-color: #000000;
  color: #41717a;
  text-shadow: none;
}

.remark-slide-content {
  background-image: url('resources/media/air_background.jpg');
  background-size: cover;
  background-color: #ffffff;
  text-shadow: none;
}

.title-slide h1 {
  color: #41717a;
  margin-top: 120px;
}
.title-slide h2{
  color: #41717a; 
  line-height: 1.5em;
}

.title-slide h3 {
  color: #000000; 
}

h1 {
  color: #ffffff;
}

.title-slide .remark-slide-number {
  display: none;
}

.remark-slide-number {
  font-size: 14pt;
  margin-bottom: -10px;
  margin-right: 10px;
  color: #000000; /* white */
  opacity: 1; /* default: 0.5 */
}