.inverse {
  background-image: url('resources/media/air_background.jpg');
  background-size: cover;
  background-color: #000000;
  color: #41717a;
  text-shadow: none;
}

.remark-slide-content {
  background-image: url('resources/media/air_background.jpg');
  background-size: cover;
  background-color: #ffffff;
  text-shadow: none;
}

.title-slide h1 {
  color: #18656b;
  margin-top: 150px;
  margin-bottom: 0px;
}
.title-slide h2{
  color: #18656b; 
  line-height: 1.5em;
  margin-top: 10px;
}

.title-slide h3 {
  color: #000000; 
}

h1 {
  color: #ffffff;
  margin-top: 45px;
  margin-bottom: 50px;
  line-height: 0.6em;
}

.title-slide .remark-slide-number {
  display: none;
}

.remark-slide-number {
  font-size: 14pt;
  margin-bottom: -10px;
  margin-right: 10px;
  color: #000000; /* white */
  opacity: 1; /* default: 0.5 */
}

#air_timer {
  background-color: black;
  background-image: url(resources/media/air_brick_white.jpg);
  background-size: auto;
}

#air_timer.running {
  background-color: black;
  background-image: url(resources/media/air_brick_white.jpg);
  background-size: auto;
  border-color: #fdd906;
}
#air_timer.finished {
  background-color: #ffffff;
  background-image: url(resources/media/air_brick_teal.jpg);
  background-size: auto;
}
#air_timer.running .digits {
  color: #fbc611;
}

#air_timer.finished .digits {
  color: #d83a20;
}

img[src*="#smaller"]{
  height: 200px;
}

img[src*="#fit"]{
  height: 400px;
}

.left-column {
  padding-top: 15px;
}

.left-column.no-padding{
  padding-top: 0;
}

#benefits-and-limitations-of-latex-in-the-use-of-document-publishing {
  margin-bottom: 30px;
}

#acknowledgements {
  margin-bottom: 125px
}

img[src*="#smallest"] {
  height: 100px;
}

img[src*="#fit-more"] {
  height: 335px;
  width: 450px;
}